extends layout
block content
  .jumbotron
    .container
      .row
        .col-lg
          h1.display-4.pink-text #{title}
          p.pink-text #{headerSub}
        .col-lg
          img.img-fluid.rounded.nathan-profile(src='../../public/img/nathan-profile.jpg')
  .container
    h2 The Purpose of this site
    p I built this site in order to demo some of the web development technolgies and skills I currently use. The server side is built using Nodejs and Express with Mongodb as a database. All the HTML is rendered via the Pug templating engine. The front end is built on the Boostrap framework and all my custom CSS is written in Sass. I used Gulp as a task runner. 
    p If you like what you see, send me a message via the contact page or visit one of my social media links in the navbar and send me a message from there. Thanks a ton.
  .container
    h2 Skills
    ul.list-group
      .container.pb-3
        .row
          .col-md-2
            li Javascript
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%')
      .container.pb-3
        .row
          .col-md-2
            li Nodejs
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
      .container.pb-3
        .row
          .col-md-2
            li Express
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%')
      .container.pb-3
        .row
          .col-md-2
            li Mongodb
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%')
      .container.pb-3
        .row
          .col-md-2
            li Mongoose
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='30', aria-valuemin='0', aria-valuemax='100', style='width: 30%')
      .container.pb-3
        .row
          .col-md-2
            li Pug
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
      .container.pb-3
        .row
          .col-md-2
            li Sass
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100', style='width: 55%')
      .container.pb-3
        .row
          .col-md-2
            li Bootstrap
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%')
      .container.pb-3
        .row
          .col-md-2
            li Git
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100', style='width: 50%')
      .container.pb-3
        .row
          .col-md-2
            li Gulp
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100', style='width: 25%')
      .container.pb-3
        .row
          .col-md-2
            li Bash
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
      .container.pb-3
        .row
          .col-md-2
            li Wordpress
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100', style='width: 75%')        
      .container.pb-3
        .row
          .col-md-2
            li Html
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
      .container.pb-3
        .row
          .col-md-2
            li CSS
          .col-md-10.mt-1
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
          //- li Html
          //- li Css
