doctype html
html(lang="en")
  head  
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // First three meta plugins must be first for Bootstrap
    title Nathan Boaldin - Built on Express
    // Latest compiled and minified CSS 2-16-18
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    //Optional theme
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    // Google Fonts
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik+Mono+One" rel="stylesheet")
    // Font Awesome
    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
    // My Css - compiled from SASS
    link(rel='stylesheet' href='public/stylesheets/application.css')
    // JQuery
    script(src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    // Popper Javascript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    //Boostrap Javascipt
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

  body
    .wrap 
      include includes/header.pug
      block content
    include includes/footer.pug
    script(src='public/js/app.js')
