// Font Vars
$font-stack-primary: 'Rubik Mono One', sans-serif;
$font-stack-secondary: 'Roboto Mono', monospace ;

//Colors
$black: #000;
$white: #fff;
$bright-green: #59F49A;
$bright-pink: #FF00A1;
$yellow-green: #C4FF42;
$neon-green: #3FFF56;
